{% extends "base.html" %} {% block content %} {% if course.chapter_set.all %}
<h2>{{ course.title }}</h2>
{% comment %}
<p>{{ course.description }}</p>
{% endcomment %} {% for chapter in course.chapter_set.all %}
<h3>{{ chapter.chapter_number }}: {{ chapter.title }}</h3>
{% for lesson in chapter.lesson_set.all %}
<a
  class="link-lesson-details"
  href="{% url 'lesson_details' course.pk chapter.pk lesson.pk %}"
  >{{ lesson.lesson_number }}. {{ lesson.title }}</a
><br />

{% endfor %} {% endfor %} {% comment %} Otherwise it shows a message that the content is
coming soon {% endcomment %} {% else %}
<h2>{{ course.title }}</h2>
<div class="coming-soon">
  <p>content coming soon</p>
</div>

{% endif %} {% endblock %}
