/*  This is to start the development, need to be adjusted according to wireframe */
:root {
  --primary-color: #c1ff72;
  --secondary-color: #f4f4f4;
  --third-color: #8c52ff;
  --background-color: #231b26;
  --background-color-dark: rgb(25, 5, 30);
  --border-color: #ccc;
  --border-color-light: #f4f4f4;
  --border-color-dark: #666;
  --border-radius: 1em;
  --box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-light: 0 1px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 1px 5px rgba(0, 0, 0, 0.1);
  --glow-effect: 0 0 5px #c1ff72, 0 0 1px #c1ff72, 0 0 30px #c1ff72;
  --transition: all 0.3s ease-in-out;
}
/*  BODY  SECTION */

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color);
}

/*  HEADER SECTION */

header {
  background-color: var(--background-color-dark);
  border-bottom: 0.1em solid var(--primary-color);
}

/*  HEADER - NAVIGATION SECTION */

.navigation-list {
  list-style-type: none;
  padding: 1em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
/* Red border is for testing purposes */
li {
  display: flex;
  align-items: center;
  padding: 0.7em;
  position: relative;
  border: 1px solid red;
}

li.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: var(--primary-color);
}
li.active a {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.link,
.link-login,
.link-logout,
.link-home {
  color: white;
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
  padding: 0em 1em;
}
.link-home {
  font-size: 3em;
  font-weight: bold;
  color: var(--third-color);
  padding: 0;
}
.link-login,
.link-logout,
.link {
  padding: 0.5em 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
}
.link:hover,
.link-login:hover,
.link-logout:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  box-shadow: var(--glow-effect);
}

/*  Section SECTION */
section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid red;
}
section p {
  padding-right: 2em;
}
/*  MAIN SECTION */
/* Red border is for testing purposes */
main {
  flex: 1;
  padding: 1em;
  border: 1px solid red;
}

/*  FOOTER SECTION */

footer {
  padding: 1em;
  margin-top: auto;
  background-color: var(--background-color-dark);
  border-top: 0.1em solid var(--primary-color);
}

/*  FOOTER - NAVIGATION SECTION */

/*  COURSES-LIST SECTION */

/* Red border is for testing purposes */
.courses-card-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.courses-card-details {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
}
.courses-card-logo {
  width: 160px;
  height: 160px;
  border: 1px solid red;
}
.course-card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
  border: 1px solid red;
}
.btn-courses-card {
  padding: 0.5em 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
}

/*  PROFILE PAGE SECTION */

/* Red border is for testing purposes */
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.1em;
  border: 1px solid red;
}

.profile-left,
.profile-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 2em;
  border: 1px solid red;
}

.profile-left img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

.profile-left p,
.profile-right p {
  padding: 0.3em;
  font-size: 1.4em;
  letter-spacing: 1.2px;
}
.btn-profile-card {
  padding: 0.5em 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
}
.profile-right-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 0.3em;
}
.profile-right-inside p {
  text-decoration: underline;
}

/*  PROFILE PAGE SECTION */

/* Red border is for testing purposes */

.update-profile-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
  padding: 0.3em;
}
.update-profile-form a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2em;
}

label {
  padding: 0.3em;
  font-size: 1em;
  letter-spacing: 1.2px;
}
#id_profile_pics,
.btn-profile-update {
  padding: 0.5em 1em;
  margin: 2em;
  font-size: 1.5em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
}
#text {
  font-size: 2em;
}

/*  LOGIN & REGISTER PAGE SECTION */

/* Red border is for testing purposes */

.btn-login,
.btn-register {
  padding: 0.5em 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: var(--secondary-color);
  letter-spacing: 1.2px;
  vertical-align: center;
}
.btn-login:hover,
.btn-register:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  box-shadow: var(--glow-effect);
}
.link-register,
.link-login-again,
.link-lesson-details,
.link-back-to-course-details {
  background-color: var(--background-color-dark);
  color: var(--primary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
}
