/*  This is to start the development, need to be adjusted according to wireframe */
:root {
  --primary-color: #c1ff72;
  --secondary-color: #f4f4f4;
  --third-color: #8c52ff;
  --background-color: #231b26;
  --background-color-light: rgb(40, 30, 50);
  --background-color-dark: rgb(25, 5, 30);
  --border-color: #ccc;
  --border-color-light: #f4f4f4;
  --border-color-dark: #666;
  --border-radius: 1em;
  --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
  --box-shadow-light: 0 3px 10px rgba(0, 0, 0, 0.5);
  --box-shadow-dark: 0 1px 5px rgba(0, 0, 0, 0.1);
  --glow-effect: 0 0 5px #c1ff72, 0 0 1px #c1ff72, 0 0 30px #c1ff72;
  --glow-effect-light: 0 0 1px #c1ff72, 0 0 1px #c1ff72, 0 0 5px #c1ff72;
  --transition: all 0.3s ease-in-out;
}
/*  BODY  SECTION */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--background-color);
}

/*  HEADER SECTION */

header {
  position: sticky;
  top: 0;
  background-color: var(--background-color-dark);
  border-bottom: 0.1em solid var(--primary-color);
  z-index: 5;
}

/*  HEADER - NAVIGATION SECTION */

.navigation-container {
  display: flex;
  align-items: center;
}
.hamburger-button {
  display: none; /* Hide the menu by default */
}
.navigation-menu {
  flex: 1;
  display: flex;
  margin-left: 3em;
}
.navigation-list {
  list-style-type: none;
  padding: 1em;

  margin: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
/* Red border is for testing purposes */
li {
  display: flex;
  align-items: center;
  padding: 0.7em;
  position: relative;
}

li.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: var(--primary-color);
}
li.active a {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.link,
.link-login,
.link-logout,
.link-home {
  color: white;
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
  padding: 0em 1em;
}
.link-home {
  font-size: 6vw;
  font-weight: 900;
  color: var(--border-color);
}
.link-home span {
  color: var(--primary-color);
}
.link-login,
.link-logout,
.link {
  padding: 0.5em 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
}
.link:hover,
.link-login:hover,
.link-logout:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  box-shadow: var(--glow-effect);
}

/*  Section SECTION */
section {
  justify-content: space-between;
  padding: 0 1.5em;
  font-size: 3vmax 1vmin;
  border-bottom: var(--border-color) 1px solid;
}

.section-right span {
  color: var(--primary-color);
}

/*  MAIN SECTION */
/* Red border is for testing purposes */
main {
  flex: 1;
  padding: 1em;
  display: flex;
  justify-content: center;
}

/*  MAIN SECTION  WELCOME PAGE*/
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-hero img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.welcome-message {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome-hero h1 {
  font-weight: 900;
  font-size: 7vw;
  color: var(--border-color);
  letter-spacing: 1.2px;
  text-shadow: 0 0 5px var(--border-color-dark);
  z-index: 1;
}
.welcome-hero p {
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: 1.2px;
  z-index: 1;
}
.welcome-content-solution {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 1.2px;
  padding: 1em;
  width: 50%;
}
.welcome-content-solution h1,
.welcome-content-who h1 {
  font-size: 6vw;
  font-weight: 900;
  font-style: italic;
  color: var(--primary-color);
}
.welcome-content-who {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 1.2px;
  padding: 1em;
  width: 50%;
  margin-left: auto;
}

/*  FOOTER SECTION */

footer {
  padding: 1em;
  margin-top: auto;
  background-color: var(--background-color-dark);
  border-top: 0.1em solid var(--primary-color);
}

/*  FOOTER - NAVIGATION SECTION */

/*  COURSES-LIST SECTION */

/* Red border is for testing purposes */
.courses-card-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.courses-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color-light);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 1em;
}
.courses-card-language {
  text-align: center;
  justify-content: center;
  vertical-align: center;
  height: 6em;
  padding: 0 3rem;
  max-width: fit-content;
  font-size: 1rem;
  background-color: var(--background-color-light);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--glow-effect-light);
}

.courses-card h3 {
  margin: 2.2rem 0;
  text-align: center;
  height: 4em;
  color: var(--border-color-light);
}
.courses-card-logo {
  justify-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 3em;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  background-color: var(--background-color);
  box-shadow: var(--glow-effect);
}
.courses-card-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.course-card-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  letter-spacing: 1.2px;
  line-height: 1.5em;
  margin-bottom: 2em;
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
.btn-courses-card {
  justify-content: center;
  padding: 0.5em 1em;
  margin-bottom: 2em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
  box-shadow: var(--box-shadow-light);
}
.btn-courses-card:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  box-shadow: var(--glow-effect);
}

/*  COURSES-LIST SECTION */

/* Red border is for testing purposes */

.course-detail-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.coming-soon-container {
  flex: 3;
}
.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: fit-content;
  font-size: 3em;
  font-weight: 900;
  font-style: italic;
  color: var(--primary-color);
}

/*  PROFILE PAGE SECTION */

/* Red border is for testing purposes */
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.1em;
  /* border: 1px solid red; */
}

.profile-left,
.profile-right,
.update-profile-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 2em;
  border: 1px solid var(--border-color-light);
  background-color: var(--background-color-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.profile-left img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
  border: 3px solid var(--primary-color);
  box-shadow: var(--box-shadow-light);
}

.profile-left p {
  padding: 0.3em;
  font-size: 1.4em;
  font-weight: 900;
  letter-spacing: 1.2px;
  color: var(--primary-color);
}
.profile-right p {
  padding: 0.3em;
  font-size: 1.4em;
  font-weight: 900;
  letter-spacing: 1.2px;
  color: var(--background-color);
}
.profile-right span {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--primary-color);
}
.btn-profile-card {
  padding: 0.5em 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
  box-shadow: var(--box-shadow-light);
}
.btn-profile-card:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  box-shadow: var(--glow-effect);
}
.profile-right-inside {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color-dark);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  padding: 0.3em;
}
.profile-right-inside p {
  text-decoration: underline;
}

/*  PROFILE PAGE SECTION */

/* Red border is for testing purposes */
.update-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
label {
  padding: 0.3em;
  font-size: 1em;
  letter-spacing: 1.2px;
  color: var(--border-color-light);
}
#id_profile_pics {
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1.5em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--border-color-dark);
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
  box-shadow: var(--box-shadow-light);
}
.btn-profile-update {
  justify-content: center;
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
  box-shadow: var(--box-shadow-light);
}
.btn-profile-update:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  box-shadow: var(--glow-effect);
}
#text {
  font-size: 2em;
}

/*  LOGIN & REGISTER PAGE SECTION */

/* Red border is for testing purposes */
.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 0.1em;
  width: fit-content;
  background-color: var(--background-color-dark);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1em;
  /* border: 1px solid red; */
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-container p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.register-container ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.register-container ul li {
  padding: 0;
}
.helptext {
  font-size: 0.8em;
  font-style: italic;
  margin: 0;
  padding: 0;
  color: red;
}
.login-container label,
.register-container label {
  color: var(--primary-color);
  text-align: center;
}
.login-container input,
.register-container input {
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--border-color-dark);
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
  vertical-align: center;
  box-shadow: var(--box-shadow-light);
}
form .btn-login,
form .btn-register {
  align-self: center;
  justify-self: center;
  padding: 0.5em 1em;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  background-color: var(--background-color-dark);
  color: var(--secondary-color);
  letter-spacing: 1.2px;
  vertical-align: center;
}
.btn-login:hover,
.btn-register:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  box-shadow: var(--glow-effect);
}
.link-register,
.link-login-again {
  background-color: var(--background-color-dark);
  color: var(--primary-color);
  text-decoration: underline;
  font-style: italic;
  letter-spacing: 1.2px;
}
.link-lesson-details,
.link-back-to-course-details {
  background-color: var(--background-color-dark);
  color: var(--primary-color);
  text-decoration: none;
  letter-spacing: 1.2px;
}

.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin-bottom: 2em;
  width: fit-content;
  background-color: var(--background-color-dark);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  padding: 1em;
}
.logout-container a {
  font-size: 1.2em;
  margin: 2em 0;
}

/* COURSE DETAILS AND LESSON CONTENT SECTION */

/* Red border is for testing purposes */
.toggle-sidebar {
  display: none;
}
.course-details-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.couses-details-box {
  flex-direction: row;
}
.sidebar {
  flex: 1;
  padding: 1em;
  border-right: 1px solid var(--border-color);
}
.sidebar-chapter-title {
  display: flex;
  align-items: center;
}
.sidebar-lesson-title {
  display: flex;
  align-items: center;
}
.sidebar-lesson-links {
  color: var(--secondary-color);
  text-decoration: none;
}
.sidebar-lesson-links:hover {
  color: var(--primary-color);
  box-shadow: var(--glow-effect);
  transition: var(--transition);
}
.lesson-content {
  flex: 2;
  padding: 1em;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
  color: var(--primary-color);
  font-size: 2rem;
}
/* Hamburger menu layout for small devices */
@media (max-width: 768px) {
  .navigation-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation-menu {
    display: none; /* Hide the menu by default */
  }
  .link-home {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0.2em;
  }
  .hamburger-button {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5em;
    background-color: var(--background-color-dark);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
  }
  .navigation-menu.active {
    display: flex; /* Show the menu when the button is clicked */
    flex-direction: column;
    margin: 0;
  }
  .navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
  }
  .link,
  .link-login,
  .link-logout,
  .link-home {
    border: none;
    width: 100%; /* Take up full width on small devices */
  }
  .link:hover,
  .link-login:hover,
  .link-logout:hover {
    border: none;
  }
  li.active::after {
    bottom: -0.2em;
  }
  .courses-card-container {
    flex-direction: column;
    align-items: center;
  }
  .welcome-content-solution,
  .welcome-content-who {
    justify-content: center;
  }
  /* COURSE DETAILS AND LESSON CONTENT SECTION  FOR RESPONSIVE*/

  .toggle-sidebar {
    display: flex;
    justify-content: flex-start;
  }
  .course-details-container {
    flex-direction: column;
  }
  .sidebar {
    display: none;
    flex: 1;
    padding: 1em;
    border-right: 1px solid var(--border-color);
  }
  .show-sidebar .sidebar {
    display: flex;
    flex-direction: column;
  }
  .lesson-content {
    flex: 1;
  }
}
@media (max-width: 420px) {
  .profile-container {
    flex-direction: column;
  }
  .profile-left,
  .profile-right {
    margin: 0.5em;
  }
  #id_profile_pics {
    font-size: 0.8em;
  }
  .courses-card {
    margin: 1em 0;
  }
  main {
    padding: 0.5em;
  }
}
