{% extends "base.html" %} {% block content %}
<div class="welcome-container">
  <div class="welcome-hero">
    <h1>Welcome to Get-IT</h1>
    <p>"Expand Your Horizons, Discover Your Path."</p>
    <img
      src="static/images/Rectangle.png"
      alt="welcome image"
    />
  </div>
  <div class="welcome-content">
    <div class="welcome-content-solution">
      <h1>Our solution</h1>
      <p>
        Get-IT is a platform that helps students to discover their career path and also
        helps them to get the necessary resources to achieve their goals.
      </p>
    </div>
  </div>
  {% endblock %}
</div>
