{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>GeT-IT | Learn programming languages fast!</title>
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header>{% include 'navigation.html' %}</header>
    <!--Showing the welcome message for the user -->
    <section>
      <div class="section-right">
        {% if user.username %}
        <p>Welcome back, <span>{{ user.username|capfirst }}</span>!</p>
        {% else %}
        <p>Welcome to GetIT</p>
        {% endif %}
      </div>
    </section>

    <main>{% block content %} {% endblock %}</main>
    <footer>
      <ul class="footer-navigation-list footer-list">
        <li>
          <a 
          class="footer-link"
          href="/"
          >Home</a>
        </li>
        <li>
          <a 
          class="footer-link"
          href="/courses"
          >Courses</a>
        </li>
        <li>
          <a 
          class="footer-link"
          href="/users/profile"
          >Profile</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a 
          class="footer-link"
          href="{% url 'users:logout' %}"
          >Logout</a>
        </li>
        {% else %}
        <li>
          <a 
          class="footer-link"
          href="{% url 'users:login' %}"
          >Login/Register</a>
        </li>
        {% endif %}
      </ul>
      <ul class="footer-contact-list footer-list">
        <li class="footer-contact-detail">
          <p>Email:&nbsp;</p>
          <a
          class="footer-link"
          href="mailto:Info@GetIT.co.nz"
          >Info@GetIT.co.nz</a>
        </li>
        <li class="footer-contact-detail">
          <p>Address: 167 Madras Street, Christchurch, New Zealand</p>
        </li>
        <li class="footer-contact-detail">
          <p>Phone: 03 963 0033</p>
        </li>
      </ul>
      <ul class="footer-legal-section footer-list">
        <li class="foote-legal-detail">
          <a
          class="footer-link"
          href="{% url 'privacy-policy' %}"
          >Privacy Policy</a>
        </li>
        <li class="footer-legal-detail">
          <p class="copyright">&copy; 2020 GeT-IT</p>
        </li>
      </ul>
    </footer>
  </body>
</html>
