{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>GeT-IT | Learn programming languages fast!</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // JavaScript code to toggle the active state of the hamburger button
        const hamburgerButton = document.querySelector(".hamburger-button");
        const navigationMenu = document.querySelector(".navigation-menu");
        const toggleButton = document.querySelector(".sidebar-toggle-button");
        const sidebarContainer = document.querySelector(".course-details-container");

        hamburgerButton.addEventListener("click", () => {
          hamburgerButton.classList.toggle("active");
          navigationMenu.classList.toggle("active");
        });

        toggleButton.addEventListener("click", () => {
          sidebarContainer.classList.toggle("show-sidebar");
        });
      });
    </script>
  </head>
  <body>
    <header>{% include 'navigation.html' %}</header>
    <!--Showing the welcome message for the user -->
    <section>
      <div class="section-right">
        {% if user.username %}
        <p>Welcome back, <span>{{ user.username|capfirst }}</span>!</p>
        {% else %}
        <p>Welcome to GetIT</p>
        {% endif %}
      </div>
    </section>

    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>This setion is the footer, need links as nav, contact and privacy policy</p>
      <p>&copy; 2020 GeT-IT</p>
    </footer>
  </body>
</html>
