{% extends 'base.html' %} {% block content %}
<div class="privacy-policy-container">
    <h1>Privacy Policy</h1>
    <p>We collect personal information from you, including information about your:
        name
        contact information
    </p>
    <p>We collect your personal information in order to:
        identify, authorise and authenticate users
    </p>
    <p>Besides our staff, we share this information with:
        no other party in order to .
    </p>
    <p>Providing some information is optional. If you choose not to enter username and password, we'll not being able to
        provide the viewing of the content for each courses.
        We keep your information safe by storing it in a secure way and only accessible by our staff administrators and
        instructors .
    </p>
    <p>We keep your information for 2 years at which point we securely destroy it by erasing all digital data.
        You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be
        corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it
        corrected, please contact us at <a class="footer-link" href="mailto:Info@GetIT.co.nz">Info@GetIT.co.nz</a>.
    </p>
</div>
{% endblock %}