{% extends 'base.html' %} {% block content %}
<h1>Profile</h1>
{% if user.profile.profile_pic %}
<img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture" />
{% else %}
<img
  src="{{ user.profile.profile_pic.field.default }}"
  alt="Default Profile Picture"
/>
{% endif %}

<!-- Display other user information here -->
{% if user.is_authenticated %}
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>First Name: {{ user.first_name }}</p>
{% else %}
<!-- Does not work at the moment, need to work on that -->
<p>You need to be logged in to view your profile</p>
{% endif %} {% endblock %}
