{% extends 'base.html' %} {% block content %}

<div class="profile-container">
  <div class="profile-left">
    <h1>Picture:</h1>
    {% if user.is_authenticated %} {% if user.profile.profile_pics %}
    <!-- IF the user is authenticated and the user has a profile picture then it will show:-->
    <img src="{{ user.profile.profile_pics.url }}" alt="Profile Picture" />
    {% else %}
    <img src="/media/profile_pics/default.jpg" alt="Default Profile Picture" />
    {% endif %}
    <p>{{ user.username }}</p>
    <a class="btn-profile-card" href="{% url 'users:profile_update' %}"
      >Change picture</a
    >
  </div>
  <div class="profile-right">
    <h1>Details:</h1>
    <div class="profile-right-inside">
      <p>Email:</p>
      <span>{{ user.email }}</span>
      <p>First Name:</p>
      <span>{{ user.first_name }}</span>
      <p>Last Name:</p>
      <span>{{ user.last_name }}</span>

      {% else %}
      <!-- Does not work at the moment, need to work on that -->
      <p>You need to be logged in to view your profile</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
